<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<th:block th:fragment="documents">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		crossorigin="anonymous">
	<link
		href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
		rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/custom-css.css}" rel="stylesheet" />
</th:block>
<th:block th:fragment="top-scripts">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">

	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
</th:block>
</head>

<body>

	<th:block th:fragment="bottom-scripts">
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
			integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
			integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/scripts.js}"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
			crossorigin="anonymous"></script>
		<script th:src="@{/assets/demo/chart-area-demo.js}"></script>
		<script th:src="@{/assets/demo/chart-bar-demo.js}"></script>
	</th:block>
</body>
</html>
