<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Update Announcement - SB Admin</title>
	
	<th:block th:insert="files-fragments/links-scripts :: documents" />
	<th:block th:insert="files-fragments/links-scripts :: top-scripts" />
	
</head>

<body class="sb-nav-fixed">
	<nav th:replace="nav-fragments/navs :: topnav"></nav>
	<div id="layoutSidenav">
		<div th:replace="nav-fragments/navs :: sidenav"></div>
		<div id="layoutSidenav_content">
			<main>
				<!-- Main Content -->
				<div class="container-fluid px-4">
					<h1 class="mt-4">Announcement Details</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
						<li class="breadcrumb-item"><a th:href="@{/announcements/list}">Announcements</a></li>
						<li class="breadcrumb-item active">Announcement Details</li>
					</ol>

					<!-- Announcement Info -->
					<div class="card mb-3" th:object=${announcement}>
						<div class="card-body">
							<h5 class="card-title" th:text="${announcement.title}"></h5>
							<p class="card-text" th:text="${announcement.post}"></p>
							<p class="card-text">
								<small class="text-muted" th:text="${announcement.formattedTimestamp}"></small>
							</p>
						</div>
					</div>
					<div class="d-grid gap-2 mx-auto">
							<th:block sec:authorize="hasRole('ROLE_ADMIN')">
								<!-- Edit  -->
								<a
									th:if="${#authentication.name == announcement.user.username}"
									th:href="@{/announcements/updateAnnouncement(announcementId=${announcement.id})}"
									class="btn btn-outline-success" data-bs-toggle="tooltop"
									data-bs-placement="top" title="Edit"> <i class="fas fa-edit"></i>
								</a>
								<!-- Delete -->
								<a
									th:if="${#authentication.name == announcement.user.username}"
									th:href="@{/announcements/deleteAnnouncement(announcementId=${announcement.id})}"
									class="btn btn-outline-danger" data-bs-toggle="tooltop"
									data-bs-placement="top" title="Delete"
									onclick="if (!(confirm('Are you sure you want to delete this post?'))) return false">
									<i class="fas fa-trash"></i>
								</a>
							</th:block>
						</div>
				</div>
			</main>
			<footer th:replace="nav-fragments/navs :: footer"> </footer>
		</div>
	</div>

	<th:block th:insert="files-fragments/links-scripts :: bottom-scripts" />
</body>
</html>
