<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
</head>

<body class="sb-nav-fixed">
	<!-- Top nav -->
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark border-bottom border-1 border-dark"
		 id="topnav" th:fragment="topnav">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" th:href="@{/}">U.N.D.P</a>
		<!-- Sidebar Toggle-->
		<button sec:authorize="isAuthenticated()" class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
			id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..."
					aria-label="Search for..." aria-describedby="btnNavbarSearch" />
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
					class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end" id="custom-dropdown"
					aria-labelledby="navbarDropdown">
					<!-- User is logged in -->
					<th:block sec:authorize="isAuthenticated()">
						<li><a class="dropdown-item" href="#!">Settings</a></li>
						<li><a class="dropdown-item" href="#!">Activity Log</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li><form th:action=@{/logout} method="post">
								<input type="submit" class="dropdown-item" id="logoutLink" value="Logout" />
							</form></li>
					</th:block>
					<!-- User is not logged in -->
					<th:block sec:authorize="isAnonymous()">
						<li><a class="dropdown-item" id="loginLink" th:href="@{/login}">Login</a></li>
						<li><a class="dropdown-item" th:href="@{/register}">Register</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item" th:href="@{/password}">Forgot
								Password</a></li>
					</th:block>
				</ul></li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<!-- Side nav -->
		<div sec:authorize="isAuthenticated()" id="layoutSidenav_nav" th:fragment="sidenav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">
							<span sec:authorize="!isAuthenticated()" th:text="Menu"></span>
							<span sec:authorize="hasRole('ROLE_ADMIN')" th:text="${'Admin Menu'}"></span>
							<span sec:authorize="hasRole('ROLE_TEACHER')" th:text="${'Teacher Menu'}"></span>
							<span sec:authorize="hasRole('ROLE_STUDENT')" th:text="${'Student Menu'}"></span>
						</div>
						<a class="nav-link" th:href="@{/}">
							<span class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</span> Dashboard
						</a>
						<a class="nav-link" th:href="@{/announcements/list}">
							<span class="sb-nav-link-icon">
								<i class="fas fa-bullhorn"></i>
							</span> Announcements
						</a>
						<!-- Faculty Dropdown Menu -->
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseFaculty" aria-expanded="false"
							aria-controls="collapseFaculty">
							<span class="sb-nav-link-icon">
								<i class="fas fa-chalkboard-teacher"></i>
							</span> Staff
							<span class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</span>
						</a>
						<div class="collapse" id="collapseFaculty"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/staff}">Manage Staff</a>
								<a class="nav-link" th:href="@{/admin/addStaff}">Add Staff</a>
							</nav>
						</div>
						<!-- Students Dropdown Menu -->
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseStudents" aria-expanded="false"
							aria-controls="collapseStudents">
							<span class="sb-nav-link-icon">
								<i class="fas fa-users"></i>
							</span> Students
							<span class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</span>
						</a>
						<div class="collapse" id="collapseStudents"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/admin/students}">Manage Students</a>
								<a class="nav-link" href="layout-sidenav-light.html">Add Student</a>
							</nav>
						</div>
						<!-- Courses Dropdown Menu -->
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseCourses" aria-expanded="false"
							aria-controls="collapseCourses">
							<span class="sb-nav-link-icon">
								<i class="fas fa-chalkboard"></i>
							</span> Courses
							<span class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</span>
						</a>
						<div class="collapse" id="collapseCourses"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/course/list}">Manage Courses</a>
								<a class="nav-link" th:href="@{/course/addCourse}">Add Course</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapsePages" aria-expanded="false"
							aria-controls="collapsePages">
							<span class="sb-nav-link-icon">
								<i class="fas fa-book-open"></i>
							</span> Tools
							<span class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</span>
						</a>
						<div class="collapse" id="collapsePages"
							aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion"
								id="sidenavAccordionPages">
								<a class="nav-link" th:href="@{/admin/sendEmail}">Send Email</a>
								<a class="nav-link" th:href="@{/admin/newUsers}">New Users</a>
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#pagesCollapseAuth" aria-expanded="false"
									aria-controls="pagesCollapseAuth"> Authentication
									<span class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</span>
								</a>
								<div class="collapse" id="pagesCollapseAuth"
									aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="login.html">Login</a> <a
											class="nav-link" href="register.html">Register</a> <a
											class="nav-link" href="password.html">Forgot Password</a>
									</nav>
								</div>
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#pagesCollapseError" aria-expanded="false"
									aria-controls="pagesCollapseError"> Error
									<span class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</span>
								</a>
								<div class="collapse" id="pagesCollapseError"
									aria-labelledby="headingOne"
									data-bs-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" th:href="@{/error/401}">401 Page</a> <a
											class="nav-link" href="@{/error/404}">404 Page</a> <a
											class="nav-link" href="@{/error/500}">500 Page</a>
									</nav>
								</div>
							</nav>
						</div>
						<div class="sb-sidenav-menu-heading">Addons</div>
						<a class="nav-link" th:href="@{/charts}">
							<span class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</span> Charts
						</a>
					</div>
				</div>
				<th:block sec:authorize="isAuthenticated">
					<div class="sb-sidenav-footer">
						<div class="small">Logged in as:</div>
						<span sec:authentication="name">The value of the "name"
							property of the authentication object appears here.</span>
					</div>
				</th:block>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<!-- Footer -->
			<footer class="py-4 bg-light mt-0" th:fragment="footer">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Universidad National de Peru 2022</div>
						<div>
							<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
								&amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

</body>
</html>
